#container {
  width: 95%;
  min-height: 50px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 0 15px;
  margin-top: 60px;
  padding-top: 10px;
}

#container p.setting label {
  display: inline-block;
  width: 180px;
  text-align: right;
}

#container p.setting button {
  margin-left: 50px;
}

#content {
  border-top: 2px solid #e4393c;
  margin-top: 15px;
  padding: 15px 0;
}

#content p,
#content input {
  font-size: 20px;
  font-family: "Arial";
  box-sizing: border-box;
  padding: 2px;
  width: 100%;
}

#content p {
  border: 1px solid transparent;
}

#container .left-side p,
#container .left-side input,
#container .left-side button,
#container select {
  font-size: 20px;
}

#container div.left-side {
  float: left;
}

.btnStop {
  font-size: 20px;
  margin-top: 20px;
}

.right-side {
  float: left;
  margin-left: 35px;
}

.right-side span {
  display: inline-block;
  width: 100px;
  text-align: right;
}

b {
  color: #ff0000;
}