body {
  background: url(https://tutut.oss-cn-hangzhou.aliyuncs.com/img/%E6%B1%9F%E5%8D%97%E7%83%A7%E9%85%924k%E5%8A%A8%E6%BC%AB%E5%A3%81%E7%BA%B8_%E5%BD%BC%E5%B2%B8%E5%9B%BE%E7%BD%91.jpg) no-repeat;
  background-size: cover;
}

.login {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -200px;
  background-color: white;
  vertical-align: middle;
  opacity: 0.9;
}

.loginBox {
  padding-top: 10%;
  padding-bottom: 10%;
}

.headPortrait {
  margin: 0 auto;
  width: 25%;
  min-width: 0px;
  height: auto;
  min-height: 0px;
}

.loginBox input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bottom {
  background: #222;
  /*background: #343a40 ;*/
  height: 80px;
  text-align: center;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}